body {
  font-family: "Roboto", sans-serif;
  background: #eaebec;
}

.container {
  padding: 20px;
  height: 780px;
  width: 500px;
  background: #3c4857;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.header {
  text-align: center;
}

.calculator-display {
  height: 100px;
  width: 430px;
  margin: 60px auto;
  border-bottom: 1px dotted white;
}
.button-container {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 17px;
}

.numeric-button {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background: #3c4857;
  border: none;
  box-sizing: border-box;
  appearance: none;
  transition: all 400ms ease-out;
}

.operator-button {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background: #404d5e;
  border: none;
  box-sizing: border-box;
  appearance: none;
  transition: all 400ms ease-out;
}

.reset-button {
  width: 160px;
  height: 70px;
  border-radius: 12px;
  background-color: black;
  border: none;
  color: #d95d4e;
  background-color: #404d5e;
  opacity: 0.8;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

.decimal-button {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #404d5e;
  cursor: pointer;
}
.equal-button {
  background-color: #6a83a1;
  width: 430px;
  height: 70px;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  cursor: pointer;
  opacity: 0.8;
  margin-top: 10px;
}

.trig-button {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: black;
  border: none;
  color: white;
  background-color: #404d5e;
  opacity: 0.7;
  margin-left: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:active {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.display-result {
  float: right;
  font-size: 79px;
  margin-right: 18px;
  color: white;
}

button:hover {
  background: #6a83a1;
  color: white;
}

.calculator-process {
  color: #d3d3d3;
  font-size: 20px;
}
